In [1]:
import pandas as pd

In [4]:
net = pd.read_csv(r"C:\Users\joao-\Downloads\netflix_titles.csv")
display(net)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [5]:
net.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

In [6]:
net.tail(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [8]:
net.shape

(8807, 12)

In [9]:
list(net.columns)

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description']

In [10]:
net.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [12]:
net.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [13]:
net.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [16]:
net.describe(include=['object'])

,show_id,type,title,director,cast,country,date_added,rating,duration,listed_in,description
count,8807,8807,8807,6173,7982,7976,8797,8803,8804,8807,8807
unique,8807,2,8807,4528,7692,748,1767,17,220,514,8775
top,s1,Movie,Dick Johnson Is Dead,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,19,2818,109,3207,1793,362,4

In [18]:
net[['director','country','listed_in']].value_counts().head(10)

director                country        listed_in
Marcus Raboy            United States  Stand-Up Comedy                                             14
Jay Karas               United States  Stand-Up Comedy                                             13
Jay Chapman             United States  Stand-Up Comedy                                             11
RaÃºl Campos, Jan Suter  Mexico         Stand-Up Comedy                                              9
Shannon Hartman         United States  Stand-Up Comedy                                              8
Troy Miller             United States  Stand-Up Comedy                                              7
Lance Bangs             United States  Stand-Up Comedy                                              7
Toshiya Shinohara       Japan          Action & Adventure, Anime Features, International Movies     7
Ryan Polito             United States  Stand-Up Comedy                                              7
RaÃºl Campos, Jan Suter  Argentina      Stand-Up Comedy                                              5
dtype: int64

In [17]:
net[['director','country','listed_in','release_year']].value_counts().head(10)

director                country         listed_in                        release_year
Marcus Raboy            United States   Stand-Up Comedy                  2017            6
RaÃºl Campos, Jan Suter  Argentina       Stand-Up Comedy                  2018            5
Edward Cotterill        United Kingdom  Documentaries                    2017            4
Matt Askem              United States   Documentaries, Music & Musicals  2018            4
RaÃºl Campos, Jan Suter  Mexico          Stand-Up Comedy                  2017            3
Jay Chapman             United States   Stand-Up Comedy                  2017            3
                                                                         2014            3
Marcus Raboy            United States   Stand-Up Comedy                  2018            3
Linda Mendoza           United States   Stand-Up Comedy                  2019            3
RaÃºl Campos, Jan Suter  Mexico          Stand-Up Comedy                  2018            3
dtype: int64

In [23]:
list_colunas = {'director','country','listed_in','release_year'}

In [27]:
for column in list_colunas:
        print(f'\n #### {column} ####')
        print(net[column].value_counts().head(10))

 #### country ####
United States     2818
India              972
United Kingdom     419
Japan              245
South Korea        199
Canada             181
Spain              145
France             124
Mexico             110
Egypt              106
Name: country, dtype: int64

 #### director ####
Rajiv Chilaka             19
RaÃºl Campos, Jan Suter    18
Marcus Raboy              16
Suhas Kadav               16
Jay Karas                 14
Cathy Garcia-Molina       13
Martin Scorsese           12
Youssef Chahine           12
Jay Chapman               12
Steven Spielberg          11
Name: director, dtype: int64

 #### release_year ####
2018    1147
2017    1032
2019    1030
2020     953
2016     902
2021     592
2015     560
2014     352
2013     288
2012     237
Name: release_year, dtype: int64

 #### listed_in ####
Dramas, International Movies                        362
Documentaries                                       359
Stand-Up Comedy                                     334
Comedies, Dramas, International Movies              274
Dramas, Independent Movies, International Movies    252
Kids' TV                                            220
Children & Family Movies                            215
Children & Family Movies, Comedies                  201
Documentaries, International Movies                 186
Dramas, International Movies, Romantic Movies       180
Name: listed_in, dtype: int64

In [29]:
net['director'].value_counts().index[0]

'Rajiv Chilaka'

In [30]:
net['country'].value_counts().index[1]

'India'

In [31]:
net['release_year'].value_counts().index[0]

2018

In [34]:
net.isnull().sum()[net.isnull().sum()>0]

director      2634
cast           825
country        831
date_added      10
rating           4
duration         3
dtype: int64

In [36]:
round(net.isna().sum()/net.shape[0]*100,2)

show_id          0.00
type             0.00
title            0.00
director        29.91
cast             9.37
country          9.44
date_added       0.11
release_year     0.00
rating           0.05
duration         0.03
listed_in        0.00
description      0.00
dtype: float64

In [38]:
net.notnull().sum()

show_id         8807
type            8807
title           8807
director        6173
cast            7982
country         7976
date_added      8797
release_year    8807
rating          8803
duration        8804
listed_in       8807
description     8807
dtype: int64

In [37]:
round(net.notna().sum()/net.shape[0]*100,2)

show_id         100.00
type            100.00
title           100.00
director         70.09
cast             90.63
country          90.56
date_added       99.89
release_year    100.00
rating           99.95
duration         99.97
listed_in       100.00
description     100.00
dtype: float64

In [39]:
values = {'director':'NA','country':'NA'}
net[['director','country']] = net[['director','country']].fillna(value= values)

In [40]:
net.drop(columns=['cast','rating','description'], inplace=True)

In [41]:
net.dropna(inplace=True)

In [43]:
display(net)

,show_id,type,title,director,country,date_added,release_year,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,2021-09-25,2020,90 min,Documentaries
1,s2,TV Show,Blood & Water,NA,South Africa,2021-09-24,2021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,s3,TV Show,Ganglands,Julien Leclercq,NA,2021-09-24,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,s4,TV Show,Jailbirds New Orleans,NA,NA,2021-09-24,2021,1 Season,"Docuseries, Reality TV"
4,s5,TV Show,Kota Factory,NA,India,2021-09-24,2021,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."
...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,United States,2019-11-20,2007,158 min,"Cult Movies, Dramas, Thrillers"
8803,s8804,TV Show,Zombie Dumb,NA,NA,2019-07-01,2018,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies"
8804,s8805,Movie,Zombieland,Ruben Fleischer,United States,2019-11-01,2009,88 min,"Comedies, Horror Movies"
8805,s8806,Movie,Zoom,Peter Hewitt,United States,2020-01-11,2006,88 min,"Children & Family Movies, Comedies"
8806,s8807,Movie,Zubaan,Mozez Singh,India,2019-03-02,2015,111 min,"Dramas, International Movies, Music & Musicals"

In [42]:
net['date_added'] = pd.to_datetime(net['date_added'])

In [44]:
net['dia'] = net['date_added'].dt.day
net['mÃªs'] = net['date_added'].dt.month
net['ano'] = net['date_added'].dt.year

In [45]:
list_col_temps = {'dia','mÃªs','ano'}

In [46]:
for column in list_col_temps:
        print(f'\n #### {column} ####')
        print(net[column].value_counts().head(10))

 #### dia ####
1     2212
15     686
2      325
16     288
31     274
20     249
19     243
5      231
22     230
10     214
Name: dia, dtype: int64

 #### mÃªs ####
7     827
12    813
9     769
4     763
10    760
8     754
3     742
1     738
6     728
11    705
Name: mÃªs, dtype: int64

 #### ano ####
2019    2016
2020    1879
2018    1649
2021    1498
2017    1187
2016     427
2015      82
2014      24
2011      13
2013      11
Name: ano, dtype: int64

In [64]:
net['dia'].value_counts().index[0]

1

In [59]:
net['mÃªs'].value_counts().index[-1]

2

In [61]:
net['ano'].value_counts().index[0]

2019

In [67]:
net[net['listed_in'].str.contains('Drama')]

,show_id,type,title,director,country,date_added,release_year,duration,listed_in,dia,mÃªs,ano
1,s2,TV Show,Blood & Water,NA,South Africa,2021-09-24,2021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries",24,9,2021
5,s6,TV Show,Midnight Mass,Mike Flanagan,NA,2021-09-24,2021,1 Season,"TV Dramas, TV Horror, TV Mysteries",24,9,2021
7,s8,Movie,Sankofa,Haile Gerima,"United States, Ghana, Burkina Faso, United Kin...",2021-09-24,1993,125 min,"Dramas, Independent Movies, International Movies",24,9,2021
9,s10,Movie,The Starling,Theodore Melfi,United States,2021-09-24,2021,104 min,"Comedies, Dramas",24,9,2021
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Germany, Czech Republic",2021-09-23,2021,127 min,"Dramas, International Movies",23,9,2021
...,...,...,...,...,...,...,...,...,...,...,...,...
8799,s8800,Movie,Zenda,Avadhoot Gupte,India,2018-02-15,2009,120 min,"Dramas, International Movies",15,2,2018
8800,s8801,TV Show,Zindagi Gulzar Hai,NA,Pakistan,2016-12-15,2012,1 Season,"International TV Shows, Romantic TV Shows, TV ...",15,12,2016
8801,s8802,Movie,Zinzana,Majid Al Ansari,"United Arab Emirates, Jordan",2016-03-09,2015,96 min,"Dramas, International Movies, Thrillers",9,3,2016
8802,s8803,Movie,Zodiac,David Fincher,United States,2019-11-20,2007,158 min,"Cult Movies, Dramas, Thrillers",20,11,2019
8806,s8807,Movie,Zubaan,Mozez Singh,India,2019-03-02,2015,111 min,"Dramas, International Movies, Music & Musicals",2,3,2019

In [69]:
net['type'].value_counts()

Movie      6128
TV Show    2666
Name: type, dtype: int64

In [72]:
round(net['type'].value_counts()/net.shape[0]*100,2)

Movie      69.68
TV Show    30.32
Name: type, dtype: float64